.title {
  color: red;
}

.main {
  // background-image: url('../../public/images/webpack.png');
  background-image: url('/images/webpack.png');
  width: 700px;
  height: 500px;
  color: yellow;
  display: block;
}